.body-contacto {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2.5rem;
  font-family: "Readex Pro", sans-serif;
  background-color: rgba(238, 238, 238, 0.918);
}

.container-fluid {
  padding-left: 0rem;
}

.container-titulo {
  h2 {
    font-family: "Readex Pro", sans-serif;
    background-color: rgb(31, 31, 31);
    color: whitesmoke;
  }
}

table {
  border-collapse: collapse;
}

.form-select {
  margin-top: 1.5;  
  width: 100%;
}

.medio-pago{
  margin-top: 1.5rem;
}

.provincia{
    margin-top: 0rem;
}

.datos-tarjeta {
  margin-left: 0rem;
}

.totalPagar{
  background-color: #198754;
  color: whitesmoke;
  font-size: 1.5rem;  
  margin-left: 0rem;
  margin-right: 0rem;
  border-radius: 0.2rem;
  padding: 0.25rem;
  font-family: "Readex Pro", sans-serif;
}


.footer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  background-color: rgb(31, 31, 31);

  .contenedor-redes-sociales {
    background-color: rgb(31, 31, 31);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    span {
      font-family: "Readex Pro", sans-serif;
      background-color: rgb(31, 31, 31);
      color: whitesmoke;
      font-size: 0.8rem;
      margin-top: 0.5rem;
      font-weight: bold;
    }
    ul {
      background-color: rgb(31, 31, 31);
      margin: 0rem;
      margin-top: 1rem;
      padding: 0rem;
      li {
        list-style: none;
        background-color: rgb(31, 31, 31);
        a {
          background-color: rgb(31, 31, 31);
          i {
            font-size: 0.8rem;
            background-color: rgb(31, 31, 31);
            color: whitesmoke;
            margin-bottom: 0.5rem;
            width: 100%;
            span {
              font-family: "Readex Pro", sans-serif;
              font-size: 0.8rem;
              align-items: center;
              color: whitesmoke;
            }
          }
        }
      }
    }
  }

  .contenedor-medios-pago {
    background-color: rgb(31, 31, 31);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    span {
      font-family: "Readex Pro", sans-serif;
      background-color: rgb(31, 31, 31);
      color: whitesmoke;
      font-size: 0.8rem;
      margin-top: 0.5rem;
      font-weight: bold;
    }
    ul {
      background-color: rgb(31, 31, 31);
      margin: 0rem;
      padding: 0rem;
      li {
        list-style: none;
        background-color: rgb(31, 31, 31);

        i {
          font-size: 0.8rem;
          background-color: rgb(31, 31, 31);
          color: whitesmoke;
          margin-bottom: 0.5rem;
          width: 100%;
          span {
            font-family: "Readex Pro", sans-serif;
            font-size: 0.8rem;
            align-items: center;
            color: whitesmoke;
          }
        }
        .fa-ethereum:before {
          margin: 0.2rem;
        }
      }
    }
  }

  .contenedor-centro-atencion {
    background-color: rgb(31, 31, 31);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    .titulo-centro-atencion {
      font-family: "Readex Pro", sans-serif;
      background-color: rgb(31, 31, 31);
      color: whitesmoke;
      font-size: 0.8rem;
      margin-top: 0.5rem;
      font-weight: bold;
    }
    span {
      font-family: "Readex Pro", sans-serif;
      font-size: 0.8rem;
      color: whitesmoke;
      background-color: rgb(31, 31, 31);
    }
  }
}

.footer {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 100%;
  background-color: rgb(31, 31, 31);

  .contenedor-redes-sociales {
    background-color: rgb(31, 31, 31);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
    margin-left: 2rem;
    margin-right: 2rem;
    span {
      font-family: "Readex Pro", sans-serif;
      background-color: rgb(31, 31, 31);
      color: whitesmoke;
      font-size: 1rem;
      margin-top: 0.5rem;
      font-weight: bold;
    }
    ul {
      background-color: rgb(31, 31, 31);
      margin: 0rem;
      margin-top: 1rem;
      padding: 0rem;
      li {
        list-style: none;
        background-color: rgb(31, 31, 31);
        a {
          background-color: rgb(31, 31, 31);
          i {
            font-size: 2rem;
            background-color: rgb(31, 31, 31);
            color: whitesmoke;
            margin-bottom: 0.5rem;
            width: 100%;
            span {
              font-family: "Readex Pro", sans-serif;
              font-size: 1rem;
              align-items: center;
              color: whitesmoke;
            }
          }
        }
      }
    }
  }

  .contenedor-medios-pago {
    background-color: rgb(31, 31, 31);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
    margin-left: 2rem;
    margin-right: 2rem;
    span {
      font-family: "Readex Pro", sans-serif;
      background-color: rgb(31, 31, 31);
      color: whitesmoke;
      font-size: 1rem;
      margin-top: 0.5rem;
      font-weight: bold;
    }
    ul {
      background-color: rgb(31, 31, 31);
      margin: 0rem;
      margin-top: 1rem;
      padding: 0rem;
      li {
        list-style: none;
        background-color: rgb(31, 31, 31);

        i {
          font-size: 2rem;
          background-color: rgb(31, 31, 31);
          color: whitesmoke;
          margin-bottom: 0.5rem;
          width: 100%;
          span {
            font-family: "Readex Pro", sans-serif;
            font-size: 1rem;
            align-items: center;
            color: whitesmoke;
          }
        }
        .fa-ethereum:before {
          margin: 0.5rem;
        }
      }
    }
  }

  .contenedor-centro-atencion {
    background-color: rgb(31, 31, 31);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 25% 25%;
    margin-right: 2rem;
    margin-left: 2rem;

    .titulo-centro-atencion {
      font-family: "Readex Pro", sans-serif;
      background-color: rgb(31, 31, 31);
      color: whitesmoke;
      font-size: 1rem;
      margin-top: 0.5rem;
      font-weight: bold;
    }
    span {
      font-family: "Readex Pro", sans-serif;
      font-size: 1rem;
      color: whitesmoke;
      background-color: rgb(31, 31, 31);
    }
  }
}

@media(min-width:0px) and (max-width: 426px){
  .footer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    background-color: rgb(31, 31, 31);

    .contenedor-redes-sociales {
      background-color: rgb(31, 31, 31);
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: auto;
      margin-left: 1rem;
      margin-right: 1rem;
      margin-bottom: 1rem;
      span {
        font-family: "Readex Pro", sans-serif;
        background-color: rgb(31, 31, 31);
        color: whitesmoke;
        font-size: 0.8rem;
        margin-top: 0.5rem;
        font-weight: bold;
      }
      ul {
        background-color: rgb(31, 31, 31);
        margin: 0rem;
        margin-top: 1rem;
        padding: 0rem;
        li {
          list-style: none;
          background-color: rgb(31, 31, 31);
          a {
            background-color: rgb(31, 31, 31);
            i {
              font-size: 0.8rem;
              background-color: rgb(31, 31, 31);
              color: whitesmoke;
              margin-bottom: 0.5rem;
              width: 100%;
              span {
                font-family: "Readex Pro", sans-serif;
                font-size: 0.8rem;
                align-items: center;
                color: whitesmoke;
              }
            }
          }
        }
      }
    }

    .contenedor-medios-pago {
      background-color: rgb(31, 31, 31);
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: auto;
      margin-left: 1rem;
      margin-right: 1rem;
      margin-bottom: 1rem;
      span {
        font-family: "Readex Pro", sans-serif;
        background-color: rgb(31, 31, 31);
        color: whitesmoke;
        font-size: 0.8rem;
        margin-top: 0.5rem;
        font-weight: bold;
      }
      ul {
        background-color: rgb(31, 31, 31);
        margin: 0rem;
        padding: 0rem;
        li {
          list-style: none;
          background-color: rgb(31, 31, 31);

          i {
            font-size: 0.8rem;
            background-color: rgb(31, 31, 31);
            color: whitesmoke;
            margin-bottom: 0.5rem;
            width: 100%;
            span {
              font-family: "Readex Pro", sans-serif;
              font-size: 0.8rem;
              align-items: center;
              color: whitesmoke;
            }
          }
          .fa-ethereum:before {
            margin: 0.2rem;
          }
        }
      }
    }

    .contenedor-centro-atencion {
      background-color: rgb(31, 31, 31);
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: auto;
      margin-right: 1rem;
      margin-left: 1rem;
      margin-bottom: 1rem;
      .titulo-centro-atencion {
        font-family: "Readex Pro", sans-serif;
        background-color: rgb(31, 31, 31);
        color: whitesmoke;
        font-size: 0.8rem;
        margin-top: 0.5rem;
        font-weight: bold;
      }
      span {
        font-family: "Readex Pro", sans-serif;
        font-size: 0.8rem;
        color: whitesmoke;
        background-color: rgb(31, 31, 31);
      }
    }
  }
}